footer.footer
	.footer__up 
		div B2Broker offers solutions for established companies to increase and optimize their workflows and help new brokers to build their businesses.
	.footer__inner
		.footer__inner__title Our products and services:
		ul.list
			li.list__item
				a.list__item__link(href="https://www.google.com/") FOREX Liquidity
			li.list__item
				a.list__item__link(href="") Cryptocurrency Liquidity
			li.list__item
				a.list__item__link(href="") CFD Liquidity
			li.list__item
				a.list__item__link(href="") B2Trader (Matching Engine)
			li.list__item
				a.list__item__link(href="") B2Margin (Margin Exchange)
			li.list__item
				a.list__item__link(href="") MT4 / MT5 White Label
			li.list__item
				a.list__item__link(href="") PAMM / MAM / Copy Trading Software
			li.list__item
				a.list__item__link(href="") FOREX Broker Turnkey
			li.list__item
				a.list__item__link(href="") Cryptocurrency Exchange Turnkey
			li.list__item
				a.list__item__link(href="") Cryptocurrency Processing
			li.list__item
				a.list__item__link(href="") (for Merchants & Enterprise Wallets)
			li.list__item
				a.list__item__link(href="") and others...
		button.btn Check out demo version
	.footer__copir
		div sales@b2broker.net
		div B2Broker© 2020. All rights reserved.