header.header
	a.header__logo(href="/")
		.header__logo__icon
		.header__logo__txt
			.header__logo__txt__name
			.header__logo__txt__tech 
	.title Prime of Prime
		div Liquidity & Technology Provider
	.subtitle We are working on our new website. Stay tuned!